<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn"
		 connectionString="Server=.\SQLEXPRESS;
                       Database=crud_semana5;
                       User Id=cris;
                       Password=12345;
                       TrustServerCertificate=True;"
		 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>